@tailwind base;
@tailwind components;
@tailwind utilities;

/* Loader */
.loading-page{
    @apply flex items-center justify-center mt-10;
}

.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #514b82;
    animation:
        l20-1 0.8s infinite linear alternate,
        l20-2 1.6s infinite linear;
}

@keyframes l20-1 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
    }

    12.5% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    62.5% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
    }
}

@keyframes l20-2 {
    0% {
        transform: scaleY(1) rotate(0deg)
    }

    49.99% {
        transform: scaleY(1) rotate(135deg)
    }

    50% {
        transform: scaleY(-1) rotate(0deg)
    }

    100% {
        transform: scaleY(-1) rotate(-135deg)
    }
}

/* Home */
#banner{
    height: 800px;
    background-image: url("../../public/assets/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.product-container{
    @apply grid gap-y-10 place-items-center my-20;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.product-card{
    @apply w-72 p-4 h-[370px] cursor-pointer hover:scale-95 transition-all bg-gray-100/70 rounded-xl shadow-md;
}

.category-btn{
    @apply bg-black text-white px-4 py-2.5 capitalize text-base rounded-md font-medium transition-colors hover:bg-purple-600 flex items-center justify-center relative;
}

.common-btn{
    @apply bg-purple-600 text-white px-6 py-3 rounded-md;
}